// COLORS
$red: #DD2222;

// IMPORTS
@import "general";
@import "result";
@import "options";

.card-wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.password-result, .card {
    padding: 20px;
    border-radius: 2px;
    background-color: crimson;
}

.password-result {
    display: flex;
    flex-direction: column;
}
