// COLORS
$red: #DD2222;
$green: #98CB6F;

// IMPORTS
@import "general";
@import "card";
@import "result";
@import "options";

input[type=range]#range-password {
  background-color: $red;
  color: $red;
}